src/*.exe
src/Corgicoin
src/Corgicoind
src/test_Corgicoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.VADE

# Compilation and Qt preprocessor part
*.qm
Corgicoin-QT
Corgicoin-QT.app

# Unit-tests
Makefile.test
Corgicoin-QT_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
*.dmg
build
