src/*.exe
src/VADE
src/VADEd
src/test_VADE
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.VADE

# Compilation and Qt preprocessor part
*.qm
VADE-QT
VADE-QT.app

# Unit-tests
Makefile.test
VADE-QT_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
*.dmg
build